# UMich GitLab
Host gitlab
    HostName gitlab.com
    User git
    IdentityFile ~/.ssh/rsa

Host caen
    HostName login.engin.umich.edu
    User prathit
    Compression yes
    
Host home
    HostName 10.180.223.44
    IdentityFile ~/.ssh/rsa
